body {
  margin: 0px;
  border: 0px;
}

#data {
  height: 700px;
  font-family: Helvetica;
  margin-left: 350px;
}

#data > div.classrooms-container {
  width: 80%;
  height: 200px;
  box-shadow: 0px 5px 5px -4px #888888, inset 0px 5px 5px -4px #888888;
  border-radius: 10px;
}

#data table.classrooms {
  width: 100%;
}

#data table.classrooms th,
#data table.classrooms td {
  padding: 20px;
  padding-right: 50px;
}

#data > div.lecture-rooms-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
}

#data > div.lecture-rooms-container > div {
  width: 25%;
  height: 150px;
  box-shadow: 0px 5px 5px -4px #888888, inset 0px 5px 5px -4px #888888;
  border-radius: 10px;
  margin-right: 75px;
  text-indent: 50px;
}

#data > div.faculty-container {
  width: 60%;
  height: 180px;
  box-shadow: 0px 5px 5px -4px #888888, inset 0px 5px 5px -4px #888888;
  border-radius: 10px;
}

#data table.faculty {
  width: 100%;
}

#data table.faculty th,
#data table.faculty td {
  padding: 20px;
  padding-right: 160px;
}

#data > #adminLogo {
  background: white;
  border-radius: 20px;
  height: 20px;
}
#login-form {
  width: 100%;
}
