body{
 margin: 0px;
 border: 0px/
}

#header{
width: 100%;
height: 150px;
background: #324247;
color: white;

}
#sidebar{
width: 300px;
height: 400px;
background: #c1daec;
float: left;
}
#data{
	height: 700px;
	background: #e3f0f1;
	color: white;
	font-family:Helvetica;
	font-size:25px;
}
#adminLogo{
	background: white;
	border-radius: 20px;
	height: 20px;
}
ul li{
	padding: 20px;
	border-bottom: 2px solid grey;
	
}
ul li:hover{
	background:#7f8c8d;
	color: white;
	
}
#login-form{
	width:100%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #324247;
  color: white;
  text-align: center;
}
